@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
 
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}





.progress{
  position: relative;
  width: 500px;
  height: 20px;
  background-color: gray;
}


.progress div{
  background-color: aquamarine;
  height: 100%;
  background-color: #00c251;
    color: #fff;
    height: 100%;
    text-align: center;
}


.progress span{
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

/* 
body {
  transition: background 0.3s, color 0.3s;
} */
body.dark-mode {
  background-color: black;
  color: white;
}

